* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

html {
    font-size: 62.5%;
}

* {
    -webkit-tap-highlight-color: transparent; /* Quita el color de resaltado en móviles */
    -webkit-touch-callout: none; /* Previene menús contextuales (opcional) */
}

*:focus-visible {
    outline: 2px dashed #FFD700; /* Un borde personalizado */
    outline-offset: 3px;
}

body {
    margin-top: 3rem; /* Ajustá según la altura de tu navbar */
}

.cuotas {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #111111;
}

.cuotas-txt {
    font-size: 1.1rem;
    font-weight: 900;
    color: #F5F5F5;
}

.logo {
    cursor: pointer;
}

li {
    list-style: none;
}

.header {
    position: relative;
    padding: 0 2rem;
    background-color: #F5F5F5;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    max-width: 165rem;
    margin: 0 auto;
    align-items: center;
    background-color: #F5F5F5;
}

.logo img {
    height: 4.5rem;
    width: auto;
    transition: all .5s;
    margin-top: 0.7rem;
}

.logo img:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    gap: 2rem;
    padding-left: 4rem;
    flex-direction: row;
    
}

.links-a {
    font-size: 1.5rem;
    color: #111111;
    text-decoration: none;
    
}

.links-a:hover {
    color: #542581;
}

.icons {
    display: flex;
    gap: 2rem;
    order: 1;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart img {
    height: 2.4rem;
}

#btn-menu {
    font-size: 2.8rem;
    cursor: pointer;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
    display: none;
}

/*===============================SEARCH==============================*/

.img-search {
    height: 2.4rem;
    background-color: #F5F5F5;
}

.search-container {
    position: relative;
    padding: 1rem;
    top: 0.35rem;
    background-color: #F5F5F5;
}

.search-button {
    position: static;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    background-color: #F5F5F5;
    transition: opacity 0.3s ease;
}

.search-menu {
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    z-index: 1000;

    visibility: hidden;
    opacity: 0; /* Empieza transparente */
    transform: translateY(-2rem); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s; /* Animación */
}

.search-menu.active {
    opacity: 1;
    transform: translateY(0); 
    visibility: visible;
}

.search-menu .search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo {
    width: 4.5rem;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    color: black;
}

.search-input {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    font-size: 1.6rem;
}

/*==============================SLIDER==============================*/

.slider-body {
/* Estilos generales */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #562E84;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
}

.slider-container {
    position: relative;
    max-width: 65rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    height: auto;;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    text-align: center;
}

.slide p {
    margin: 0;
    font-size: 1.2rem;
    color: #F5F5F5;
    align-content: center;
    justify-content: center;
}

.slide a {
    display: block;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1rem;
    color: #f5f5f5;
    font-size: 1rem;
}

/* Flechas */
.arrow {
    position: relative;
    background: none;
    border: none;
    color: #FDB722;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 2.7rem;
}

.arrow-left {
    left: 0.5rem;
}

.arrow-right {
    right: 0.5rem;
}

.arrow:hover {
    transform: scale(1.1);
    transition-duration: 3s;
}

/*===============================VIDEO==============================*/

.video-lakers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 72vh;
    overflow: hidden; /* Oculta las partes del video que se salgan del contenedor */
}

.video-lakers video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Este estilo asegura que el video mantenga su relación de aspecto */
}

.text {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.text h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 700;
}

.text p {
    font-size: 2.3rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 900;
    margin-top: 3rem;
}

.text a button {
    height: 4.5rem;
    border-radius: 3rem;
    padding: 1rem 0;
    width: 15rem;
    background-color: #ffff;
    font-size: 1.4rem;
    color: #3f3f3f;
    font-weight: 900;
    transition: 300ms;
    margin-top: 4rem;
    border: none;
    display: inline-block;
    cursor: pointer;
    
}

.text a button:focus {
    outline: none;
}

.text a button:hover {
    transform: translate(0, -.5rem);
    background-color: #562E84;
    color: #FDB722;
}

/*============================PRODUCTOS============================*/

.container-products {
    padding: 1rem 0;
    text-align: center;
    justify-content: center;
}

.container-products h2 {
    color: #1c1c1d;
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    padding-top: 0.5rem;
}

.products-content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.products {
    position: relative;
    flex: 1 1 calc(25% - 2rem);
    max-width: 35rem;
}

.products img {
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
}

.products h3 {
    font-size: 2.5rem;
    color: #111111;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.products {
    transition: 400ms ease;
    cursor: pointer;
}

.products:hover {
    transform: scale(1.05);
}

/*==============================FOOTER============================*/

footer {
    background-color: #542581;
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    justify-content: center; 
    align-items: center;

}

.container-footer {
    max-width: 130rem;
    margin: 6rem auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
}

.container-col {
    display: flex;
}

.col {
    min-width: 27rem;
    color: #f3f3f3;
    font-family: 'Poppins';
    padding: 0 2rem;
}

.col p {
    font-size: 1.3rem;
    color: #f3f3f3;
    width: 85%;
}


.col img {
    width: 20rem;
    margin-bottom: 1rem;
}

.col h3 {
    color: #FDB722;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;
    font-size: 1.7rem;
}

.links-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
}

.links-footer a {
    text-decoration: none;
    font-size: 1.3rem;
    margin-bottom: .5rem;
    color: #f3f3f3;
    position: relative;
    transition: 0.3s ease;
    user-select: text;
    padding: 0;
    margin: 0;
    display: inline;
}

.links-footer li {
    margin: .3rem 0;
}

.links-footer a::before {
    content: '';
    height: 1.6rem;
    width: .3rem;
    position: absolute;
    top: .5rem;
    left: -1rem;
    background-color: #FDB722;
    transition: 0.2s ease;
    opacity: 0;
    transform: translateY(-50%);
}

.links-footer a:hover::before {
    opacity: 1;
}


/*============================================SCROLLBAR========================================*/
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: #FDB722;
    border-radius: 4rem;
}

@media(max-width: 1500px) {
    .products {
        flex: 1 1 100%;
    }
}

@media(max-width: 1100px) {
    .row {
    flex-direction: column;
    }

    #company {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -3rem;
    }

    #company p {
    max-width: 47rem;
    }

    .col {
    width: 100%;
    margin-bottom: 2rem;
    }


    .container-col {
    position: relative;
    flex: 1 1 calc (25% - 2rem);
    }

    .text h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 700;
    }

    .text p {
    font-size: 2rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 900;
    margin-top: 4rem;
    }

    .text {
    padding-top: 5%;
    width: 75%;
    }

    .text a button {
    height: 4rem;
    width: 12rem;
    font-size: 1.2rem;
    }

    .logo-lakers img {
    margin-left: 4rem;
    }

    /*SLIDER*/
    .slide p {
    font-size: 1.2rem;
    }

    .slide a {
    font-size: 1rem;
    }   

}

@media(max-width: 900px) {

    header #btn-menu {
    display: block;
}

    header .links {
    height: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-bottom: .2rem solid var (--color-principal);
    transition: height 0.5s ease;
    padding-left: 0rem;
}

    header .links.mostrar {
    height: 17rem;
}

    header .links.min {
    height: calc(100vh - 6rem);
    overflow-y: auto;
}


.icons {
    gap: 0.5rem;
    align-items: center;
    order: 1;
}

.search-container {
    padding: 1rem;
}

.cart img {
    padding-right: 1rem;
}
}

@media(max-width: 850px) {

    .container-footer {
    display: flex;
    flex-direction: column;
    margin: 6rem 1rem -2rem 1rem;
    }

    .row {
        flex-direction: column;
    }

    .container-col {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .links-footer {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .links-footer li {
        margin: 10px 0;
    }

    .links-footer a {
        text-decoration: none;
        color: inherit;
    }

    .logo-footer {
        margin-left: -1rem;
    }

}

@media(max-width: 650px) {
    
    .text h1 {
        font-size: 2rem;
    }

    .text p {
        font-size: 1.5rem;
    }

        /*SLIDER*/
    .slide p {
        font-size: 1.1rem;
    }
    
    .slide a {
        font-size: 0.8rem;
    }
}

@media(max-width: 550px) {
    .logo img {
        height: 3.8rem;
    }
    
    .cuotas-txt {
        font-size: 1rem;
    }

    #company {
        display: inline;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }

    .col p {
        width: 90%;
    }

    .logo-footer {
        margin-left: -2rem;
    }

    .slide p {
        font-size: 1rem;
    }
    
    .slide a {
        font-size: 0.7rem;
    }

    .container-products {
        padding: 1rem;
    }

    .container-products h2 {
        margin-bottom: 0; 
    }

    .video-lakers {
        height: 75vh;
    }

}

@media(max-width: 400px) {
    .video-lakers {
        height: 61vh;
    }
}