* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

html {
    font-size: 62.5%;
}

.cuotas {
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #111111;
}

.cuotas-txt {
    font-size: 1.25rem;
    font-weight: 900;
    color: #F5F5F5;
}

.logo {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1rem;
}

a:hover {
    color: #3F2068;
}

.header {
    position: relative;
    padding: 0 2rem;
    background-color: #F5F5F5;
    
}

.navbar {
    width: 100%;
    height: 6rem;
    max-width: 165rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
}

.logo img {
    height: 4.5rem;
    width: auto;
    transition: all .5s;
    margin-top: 0.7rem;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar .links {
    display: flex;
    gap: 2rem;
    padding-left: 16.5rem;
}

.links-a {
    font-size: 1.5rem;
    color: #111111;
}

.navbar .icons {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*===============================SEARCH==============================*/

.search {
    display: flex;
    align-items: center;
    background-color: #FDB722;
    padding: 1rem 2rem;
    border-radius: 3rem;
    height: 4rem;
    margin-top: 0.5rem;
}

.search-input{
    width: 10rem;
    border: none;
    background-color: transparent;
    margin-top: 0.3rem ;
    outline: none;
    color: #1c1c1d;
}

.search-input::placeholder {
    font-size: 1.6rem;
    color: #1c1c1d;
}

.search-img {
    height: 2rem;
    width: 2rem;
}

.cart img {
    margin: 1rem;
    height: 2.5rem;
}

/*==============================SLIDER==============================*/

.slider-body {
/* Estilos generales */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #562E84;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Contenedor principal */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 65rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 5rem;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    text-align: center;
}

.slide p {
    margin: 0;
    font-size: 1.1rem;
    color: #F5F5F5;
}

.slide a {
    display: block;
    margin-top: 0.5rem;
    color: #F5F5F5;
    text-decoration: underline;
    font-size: 0.9rem;
}

/* Flechas */
.arrow {
    position: relative;
    background: none;
    border: none;
    color: #FDB722;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem;
}

.arrow-left {
    left: 0.5rem;
}

.arrow-right {
    right: 0.5rem;
}

.arrow:hover {
    transform: scale(1.1);
    transition-duration: 3s;
}

/*===============================VIDEO==============================*/

.video-lakers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70rem;
    overflow: hidden; /* Oculta las partes del video que se salgan del contenedor */
}

.video-lakers video {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Este estilo asegura que el video mantenga su relación de aspecto*/
}

.text {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.text h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 700;
}

.text p {
    font-size: 2.3rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 900;
    margin-top: 3rem;
}

.text a button {
    height: 4.5rem;
    border-radius: 3rem;
    padding: 1rem 0;
    width: 15rem;
    background-color: #ffff;
    font-size: 1.4rem;
    color: #3f3f3f;
    font-weight: 900;
    transition: 300ms;
    margin-top: 4rem;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.text a button:focus {
    outline: none;
}

.text a button:hover {
    transform: translate(0, -.5rem);
    background-color: #562E84;
    color: #FDB722;
}

/*============================PRODUCTOS============================*/

.container-products {
    padding: 5rem 0;
    text-align: center;
    justify-content: center;

}

.container-products h2 {
    color: #1c1c1d;
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.products-content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.products {
    position: relative;
    flex: 1 1 calc(25% - 2rem);
    max-width: 35rem;
}

.products img {
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
}

.products h3 {
    font-size: 2.5rem;
    color: #111111;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.products {
    transition: 400ms ease;
    cursor: pointer;
}

.products:hover {
    transform: scale(1.05);
}

/*==============================FOOTER============================*/

body footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
}

footer {
    background-color: #542581;
    position: relative;
    width: 100%;
    min-height: 20rem;
    padding: 3rem 1rem;
}

.container-footer {
    max-width: 120rem;
    margin: 6rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
}

.col {
    min-width: 27rem;
    color: #f3f3f3;
    font-family: 'Poppins';
    padding: 0 2rem;

}

.col p {
    font-size: 1.3rem;
    color: #f3f3f3;
    width: 85%;
}


.col img {
    width: 20rem;
    margin-bottom: 1rem;
}

.col h3 {
    color: #FDB722;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;
    font-size: 1.7rem;
}

.col .links a {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    margin-bottom: .5rem;
    color: #f3f3f3;
    position: relative;
    transition: 0.3s ease;
}

.col .links a:before {
    content: '';
    height: 1.6rem;
    width: .3rem;
    position: absolute;
    top: .5rem;
    left: -1rem;
    background-color: #FDB722;
    transition: 0.5s ease;
    opacity: 0;
}

.col .links a:hover::before {
    opacity: 1;
}

.col .links a:hover {
    transform: translateX(-.8rem);
    color: #FDB722;
}

/*============================================SCROLLBAR========================================*/
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: #FDB722;
    border-radius: 4rem;
}

@media(max-width:1500px) {
    .products {
        flex: 1 1 100%;
    }
}

@media(max-width:1100px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        text-align: left;
        margin-bottom: 2rem;
    }

    .text h1 {
        font-size: 4.2rem;
        text-align: center;
        color: #f3f3f3;
        font-weight: 700;
    }

    .text p {
        font-size: 3rem;
        text-align: center;
        color: #f3f3f3;
        font-weight: 900;
        margin-top: 4rem;
    }

    .text {
        padding-top: 30%;
        width: 75%;
    }

    button {
        height: 4rem;
        width: 10rem;
        font-size: 1.3rem;
    }

    .logo-lakers img {
        margin-left: 4rem;
    }

}

@media(max-width:700px) {
    .header {
        padding: 0rem 3rem;
    }

    .bars {
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 3rem;
        height: .3rem;
        background-color: #111111;
        margin: .6rem 0;
    }

    .nav {
        height: 0rem;
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #542581;
        transition: .5s;
        overflow: hidden;
    }

    .icons {
        height: 0rem;
        position: relative;
        top: 8rem;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #542581;
        transition: .5s;
        overflow: hidden;
    }

    .logo-lakers img {
        margin-left: 0rem;
    }

    ul {
        margin-right: 0rem;
    }

    .text {
        width: 75%;
        padding-top: 40%;
    }
}

@media(max-width:570px) {

    .text h1 {
        margin-top: 0rem;
        font-size: 2.4rem;
    }

    .text p {
        font-size: 1.8rem;
    }

    button {
        margin-top: 2rem;
    }

    .logo-lakers img {
        margin-left: 0rem;
    }

    ul {
        margin-right: 0rem;
    }
}